body {
    font-family: 'karla' sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}
.left-section, .right-section {
    padding: 30px;
    flex: 1;
}
.left-section {
    background-color: lightgrey;
    text-align: left;
}
.left-section p {
    padding: 5px;
}
/* Button Styling */
button {
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    background-color:#1595cb;
    padding: 10px 20px;
}
button:hover {
    background-color:#1a82ad;
}
button:active{
    background-color:#136081;
} */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    align-items: center;
}
input {
    border-radius: 4px;
    
}
#email, #password {

}
form {
    margin-left: 50px;
}
a {
    color: purple;
}
