* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'karla' sans-serif;
    font-weight: 400;
    display: flex;
    height: 100vh;
   
}
/* affects both left and right side*/
.container {
    display: flex;
    background: #fff;
    border: none;
    box-shadow: 0px 8px 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    border-radius: 8px;
}
/*  Image styling*/
img {
    height: 120px;
    width: 120px;
    display: flex;

}
/* Styling for left and right side of flex box */
.left-section, .right-section {
    padding: 15px;
    flex: 1;
    border-radius: 8px;
} 
/* Left side styling */
.left-section {
    background-color: rgb(234, 234, 234);
}
.left-section p {
    padding: 5px;
    margin-bottom: 1rem;
}
/* Right side styling */
.right-section h2{
 font-size: 24px;
 margin: 20px;
 font-size: 28px;
 margin-bottom: 1rem;
}
.right-section a{
        color: purple;
}
.right-section input {
    padding: 8px;
    border: 3px solid lightgrey;
    border-radius: 4px;
}
.right-section label {
    color: grey;
}
/* Form styling */
.form-info input {
    border: 2px solid #c6bfbf;
    padding: 6px;
    border-radius: 4px;
}
/* Full name Styling */
.full-name-container {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 1rem;
}

.full-name-container > div {
    width: 50%;
}

.full-name-container > div > input {
    width: 100%;
}
.full-name-container div > label {
    display: block;
    margin-bottom: 5px;
}
/* Email and Password Styling */
.email-password-container {
    width: 100%;
}
.email-group {
    margin-bottom: 1rem;

}
.password-group {
    margin-bottom: 1rem;
}

.email-password-container div {
    width: 100%;
}

.email-password-container div > label {
    display: block;
    margin-bottom: 5px;
}
.email-password-container div > input {
    width: 100%;
}


/* Button Styling */
.register-button {
    margin-top: 1rem;
    margin-left: 1rem;
}
button {
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    background-color:#1595cb;
    padding: 5px 25px 5px 25px;
}
button:hover {
    background-color:#1a82ad;
}
button:active{
    background-color:#136081;
} 