body {
    font-family: 'karla' sans-serif;
    font-weight: 400;
    display: flex;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    align-items: center;
}
input {
    border-radius: 4px;
    
}
#email, #password {

}
form {
    margin-left: 50px;
}
a {
    color: purple;
}
/* Button Styling */
button {
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    background-color:#1595cb;
}
button:hover {
    background-color:#1a82ad;
}
button:active{
    background-color:#136081;
}